@import 'reset';

$dark-gray: #32424a;

%br5 {
  border-radius: 5px;
}

%fs0 {
  font-size: 0;
}

%fs1 {
  font-size: 1rem;
}

%font {
  font-family: 'Fira Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  @extend %font;
  height: 100vh;
  padding-top: 100px;
  font-size: 1rem;
  background-image: linear-gradient(to bottom right, #01ecd5, $dark-gray);
  background-size: cover;
}

.form {
  @extend %br5;

  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;

  box-shadow: 0 0 50px 0 fade-out(#000, .9);
}

.form__header {
  height: 100px;
  line-height: 99px;
  padding-left: 50px;
  border-bottom: 1px solid fade-out($dark-gray, .9);
  background-color: #f8f8f8;

  h2 {
    font-weight: 700;
    font-size: 2rem;
    color: $dark-gray;
  }
}

.form__content {
  padding: 40px 50px;
}

.doublefield-wrp {
  @extend %fs0;

  margin-bottom: 20px;
}

.field {
  position: relative;

  input {
    @extend %br5;
    @extend %font;

    width: 100%;
    height: 50px;
    line-height: 48px;
    padding-left: 20px;
    border: 1px solid fade-out($dark-gray, .8);
    font-size: 1rem;
    color: #333;

    &::placeholder {
      color: fade-out($dark-gray, .7);
    }
  }
}

.field_half {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 10px);

  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.field_notvalid {
  input {
    border-color: red;
    color: red;
  }
}

.field__error {
  position: absolute;
  right: 0;
  top: -13px;
  font-size: .65rem;
  color: red;

  opacity: 0;
  visibility: hidden;
}

textarea {
  @extend %br5;
  @extend %font;

  width: 100%;
  height: 175px;
  padding: 15px 20px;
  border: 1px solid fade-out($dark-gray, .8);
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
  resize: none;

  &::placeholder {
    color: fade-out($dark-gray, .7);
  }
}

.main-btn {
  @extend %br5;
  @extend %font;

  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  background-color: $dark-gray;
}

.show {
  opacity: 1;
  visibility: visible;
}
